In [56]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
dict = {
    'client': ['AMMA', 'AMMA', 'AMMA', 'MARO', 'MARO', 'ERER'],
    'date': ['2022/04/05', '2022/04/05', '2022/04/05', '2022/04/06', '2022/04/06', '2022/04/07'],
    'start_time': ['11:26', '11:45', '11:55', '12:15', '12:25', '12:32'],
    'end_time': ['11:31', '11:50', '12:00', '12:20', '12:30', '12:37'],
    'urinate_toilet': ['Independent', 'Independent', 'Independent', 'None', 'Independent', 'Accident'],
    'bowel_movement': ['Independent', 'Independent', 'Independent', 'None', 'Independent', 'Accident'],
    'mand': ['Independent', 'Independent', 'Independent', 'No', 'Independent', 'Prompted'],
    'pants_down': ['Independent', 'Independent', 'Independent', 'No', 'Independent', 'Prompted'],
    'pants_up': ['Independent', 'Independent', 'Independent', 'No', 'Independent', 'Prompted'],
    'flush': ['Independent', 'Independent', 'Independent', 'No', 'Independent', 'Prompted'],
    'time_interval': [30, 30, 35, 45, 45, 40]
}

In [55]:
# !pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.5.2-cp39-cp39-win_amd64.whl (7.2 MB)
     ---------------------------------------- 7.2/7.2 MB 4.7 MB/s eta 0:00:00
Collecting fonttools>=4.22.0
  Downloading fonttools-4.33.3-py3-none-any.whl (930 kB)
     -------------------------------------- 930.9/930.9 KB 5.9 MB/s eta 0:00:00
Collecting cycler>=0.10
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\amermahyoub\.virtualenvs\data_tracking-hzpcthqn\lib\site-packages (from matplotlib) (2.8.2)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.2-cp39-cp39-win_amd64.whl (55 kB)
     ---------------------------------------- 55.4/55.4 KB ? eta 0:00:00
Requirement already satisfied: packaging>=20.0 in c:\users\amermahyoub\.virtualenvs\data_tracking-hzpcthqn\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: numpy>=1.17 in c:\users\amermahyoub\.virtualenvs\data_tracking-hzpcthqn\lib\site-packages (from matplotlib) (1.22.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\amermahyoub\.virtualenvs\data_tracking-hzpcthqn\lib\site-packages (from matplotlib) (9.1.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\amermahyoub\.virtualenvs\data_tracking-hzpcthqn\lib\site-packages (from matplotlib) (3.0.8)
Requirement already satisfied: six>=1.5 in c:\users\amermahyoub\.virtualenvs\data_tracking-hzpcthqn\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: kiwisolver, fonttools, cycler, matplotlib
Successfully installed cycler-0.11.0 fonttools-4.33.3 kiwisolver-1.4.2 matplotlib-3.5.2

In [10]:
df = pd.DataFrame(dict)
df

,client,date,start_time,end_time,urinate_toilet,bowel_movement,mand,pants_down,pants_up,flush,time_interval
0,AMMA,2022/04/05,11:26,11:31,Independent,Independent,Independent,Independent,Independent,Independent,30
1,AMMA,2022/04/05,11:45,11:50,Independent,Independent,Independent,Independent,Independent,Independent,30
2,AMMA,2022/04/05,11:55,12:00,Independent,Independent,Independent,Independent,Independent,Independent,35
3,MARO,2022/04/06,12:15,12:20,None,None,No,No,No,No,45
4,MARO,2022/04/06,12:25,12:30,Independent,Independent,Independent,Independent,Independent,Independent,45
5,ERER,2022/04/07,12:32,12:37,Accident,Accident,Prompted,Prompted,Prompted,Prompted,40

In [11]:
df['date'] = pd.to_datetime(df['date'])
df.dtypes

client                    object
date              datetime64[ns]
start_time                object
end_time                  object
urinate_toilet            object
bowel_movement            object
mand                      object
pants_down                object
pants_up                  object
flush                     object
time_interval              int64
dtype: object

In [13]:
df.to_csv('test_data.csv')

In [12]:
df.head()

,client,date,start_time,end_time,urinate_toilet,bowel_movement,mand,pants_down,pants_up,flush,time_interval
0,AMMA,2022-04-05,11:26,11:31,Independent,Independent,Independent,Independent,Independent,Independent,30
1,AMMA,2022-04-05,11:45,11:50,Independent,Independent,Independent,Independent,Independent,Independent,30
2,AMMA,2022-04-05,11:55,12:00,Independent,Independent,Independent,Independent,Independent,Independent,35
3,MARO,2022-04-06,12:15,12:20,None,None,No,No,No,No,45
4,MARO,2022-04-06,12:25,12:30,Independent,Independent,Independent,Independent,Independent,Independent,45

In [12]:
df.client.unique()

array(['AMMA', 'MARO', 'ERER'], dtype=object)

In [26]:
import re
r = re.compile('\d{2}:\d{2}')
if r.match('11:22 sspm') is not None:
   print('matches')

matches

In [22]:
r.match('11:22')

In [27]:
len('11:22')

5

In [26]:
df = pd.read_csv('test_data.csv')

In [34]:
df.head()

,Unnamed: 0,client,date,start_time,end_time,urinate_toilet,bowel_movement,mand,pants_down,pants_up,flush,time_interval
0,0,AMMA,2022-04-05,11:26,11:31,Independent,Independent,Independent,Independent,Independent,Independent,30
1,1,AMMA,2022-04-05,11:45,11:50,Independent,Independent,Independent,Independent,Independent,Independent,30
2,2,AMMA,2022-04-05,11:55,12:00,Independent,Independent,Independent,Independent,Independent,Independent,35
3,3,MARO,2022-04-06,12:25,12:30,Independent,Independent,Independent,Independent,Independent,Independent,45
4,4,MARO,2022-04-06,12:15,12:20,None,None,No,No,No,No,45

In [35]:
df.dtypes

Unnamed: 0         int64
client            object
date              object
start_time        object
end_time          object
urinate_toilet    object
bowel_movement    object
mand              object
pants_down        object
pants_up          object
flush             object
time_interval      int64
dtype: object

In [36]:
# clients = df["client"].unique()
# client_picked = st.selectbox('Pick a client', clients)
picked_df = df[df["client"] == 'ERER']

In [37]:
picked_df.head()

,Unnamed: 0,client,date,start_time,end_time,urinate_toilet,bowel_movement,mand,pants_down,pants_up,flush,time_interval
5,5,ERER,2022-04-07,12:32,12:37,Accident,Accident,Prompted,Prompted,Prompted,Prompted,40
6,6,ERER,2022-05-04,11:34,11:39,Accident,Accident,Independent,Independent,Independent,Prompted,40
7,7,ERER,2022-05-04,11:34,11:39,Accident,Accident,Independent,Independent,Independent,Prompted,40
8,8,ERER,2022-05-04,11:34,11:39,Accident,Accident,Independent,Independent,Independent,Prompted,40

In [49]:
df1 = picked_df.copy()
df1.index = pd.to_datetime(df1['date'])
df1 = df1.drop(columns = ['Unnamed: 0', 'date'])
df1.head()

,client,start_time,end_time,urinate_toilet,bowel_movement,mand,pants_down,pants_up,flush,time_interval
date,,,,,,,,,,
2022-04-07,ERER,12:32,12:37,Accident,Accident,Prompted,Prompted,Prompted,Prompted,40
2022-05-04,ERER,11:34,11:39,Accident,Accident,Independent,Independent,Independent,Prompted,40
2022-05-04,ERER,11:34,11:39,Accident,Accident,Independent,Independent,Independent,Prompted,40
2022-05-04,ERER,11:34,11:39,Accident,Accident,Independent,Independent,Independent,Prompted,40

In [71]:
import plotly.express as px

data = {}
for col, row in df1.iterrows():
    x = row['mand']
    if data[x] is not None:
        data[x] =+ 1
    else:
        data[x] = 1
data

KeyError: 'Prompted'

In [65]:
import plotly.express as px
df = px.data.gapminder().query("year == 2007").query("continent == 'Americas'")
fig = px.pie(df, values='pop')
fig.update_traces(textposition='inside', textinfo='percent+label')
fig.show()

In [66]:
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
59,Argentina,Americas,2007,75.320,40301927,12779.379640,ARG,32
143,Bolivia,Americas,2007,65.554,9119152,3822.137084,BOL,68
179,Brazil,Americas,2007,72.390,190010647,9065.800825,BRA,76
251,Canada,Americas,2007,80.653,33390141,36319.235010,CAN,124
287,Chile,Americas,2007,78.553,16284741,13171.638850,CHL,152
311,Colombia,Americas,2007,72.889,44227550,7006.580419,COL,170
359,Costa Rica,Americas,2007,78.782,4133884,9645.061420,CRI,188
395,Cuba,Americas,2007,78.273,11416987,8948.102923,CUB,192
443,Dominican Republic,Americas,2007,72.235,9319622,6025.374752,DOM,214
455,Ecuador,Americas,2007,74.994,13755680,6873.262326,ECU,218
479,El Salvador,Americas,2007,71.878,6939688,5728.353514,SLV,222
611,Guatemala,Americas,2007,70.259,12572928,5186.050003,GTM,320
647,Haiti,Americas,2007,60.916,8502814,1201.637154,HTI,332
659,Honduras,Americas,2007,70.198,7483763,3548.330846,HND,340
791,Jamaica,Americas,2007,72.567,2780132,7320.880262,JAM,388
995,Mexico,Americas,2007,76.195,108700891,11977.574960,MEX,484
1115,Nicaragua,Americas,2007,72.899,5675356,2749.320965,NIC,558
1187,Panama,Americas,2007,75.537,3242173,9809.185636,PAN,591
1199,Paraguay,Americas,2007,71.752,6667147,4172.838464,PRY,600
1211,Peru,Americas,2007,71.421,28674757,7408.905561,PER,604
1259,Puerto Rico,Americas,2007,78.746,3942491,19328.709010,PRI,630
1559,Trinidad and Tobago,Americas,2007,69.819,1056608,18008.509240,TTO,780
1619,United States,Americas,2007,78.242,301139947,42951.653090,USA,840
1631,Uruguay,Americas,2007,76.384,3447496,10611.462990,URY,858
1643,Venezuela,Americas,2007,73.747,26084662,11415.805690,VEN,862